.container {
    padding: 20px 15px 15px;
    
    .bi-x-lg {
        position: absolute;
        top: 10px;
        right: 10px;
        transition: all 0.5s ease;

        &:hover {
            color: #000;
        }
    }

    h4 {
        font-weight: bold;
    }

    h4, h6 {
        text-align: left;
        margin-bottom: 0;
    }

    .form-container {
        margin: 15px 0;
        position: relative;
        
        label {
            font-size: 13px;
            position: absolute;
            top: -0.6rem;
            left: 0.75rem;
            transform-origin: 0 0;
            background: #fff;
            color: rgba(0, 0, 0, 0.6);
        }

        &:focus-within {
            label {
                color: #86b7fe; 
            }
        }
    }

    .button-container {
        display: flex;
        justify-content: flex-end;

        button {
            width: 110px;
            height: 40px;
            font-size: 15px;
            font-weight: bold;
            color: #fff;
            margin-left: 10px;
            border: none;
            border-radius: 15px;
            background-color: #8e3bff;
            transition: all 0.5s ease;
        
            &:hover {
                color: #8e3bff;
                background-color: #FFF;
                border: solid 1px #8e3bff;
            }
        }
    }
}