<div class="container">
    <i class="bi bi-x-lg" (click)="cerrar()"></i>
    <h4>Agregar Clase</h4>
    <h6>{{ dia }}</h6>
    <div class="form-container">
        <input class="form-control" type="text" placeholder="Nombre" [(ngModel)]="clase.horario"/>
        <label class="form-label">Horario</label>
    </div>
    <div class="form-container">
        <input class="form-control" type="text" placeholder="Nombre" [(ngModel)]="clase.tipo"/>
        <label class="form-label">Tipo</label>
    </div>
    <div class="button-container">
        <button (click)="cerrar()">Cancelar</button>
        <button (click)="anotarse()">Agregar</button>
    </div>
</div>
