<div *ngFor="let dia of dias" class="dia">
    <ngb-accordion [closeOthers]="true" activeIds="Lunes">
        <ngb-panel id="dia.nombre" [title]="dia.nombre">      
            <ng-template ngbPanelContent>
                <div *ngFor="let clase of dia.clases" class="clase">
                    <span>{{ clase.horario }}</span>
                    <span>{{ clase.tipo }}</span>
                    <i class="bi bi-trash-fill" (click)="eliminarClase(dia.id, clase.id)"></i>
                </div>
                <div class="button-container">
                    <button class="agregar-clase" (click)="agregarClase(dia)">Agregar Clase</button>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>