.dia {
    margin: 15px;

    .clase {
        display: flex;
        padding: 4px 15px;
        font-weight: 400;
        font-weight: bold;
        align-items: center;
        
        i {
            margin-left: auto;
        }
    }

    .button-container {
        padding: 15px;
        margin-top: auto;
        
        .agregar-clase {
            width: 100%;
            height: 35px;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            border: none;
            border-radius: 20px;
            background-color: #8e3bff;
            transition: all 0.5s ease;
        
            &:hover {
                color: #8e3bff;
                background-color: #FFF;
                border: solid 1px #8e3bff;
            }
        }
    }
}

