<div class="container">
    <i class="bi bi-x-lg" (click)="cerrar()"></i>
    <h4>Anotarse</h4>
    <h6>{{ clase }}</h6>
    <div class="form-container">
        <input class="form-control" type="text" placeholder="Nombre" [(ngModel)]="alumno.nombre"/>
        <label class="form-label">Nombre</label>
    </div>
    <div class="button-container">
        <button (click)="cerrar()">Cancelar</button>
        <button (click)="anotarse()">Anotarse</button>
    </div>
</div>
