<h1 class="titulo">
  {{ diaSeleccionado.nombre }}
</h1>
<div class="clases-container">
  <gym-class-details *ngFor="let clase of diaSeleccionado.clases" [clase]="clase" [diaId]="diaSeleccionado.id"></gym-class-details>
</div>