.class-container {
    width: 250px;
    min-height: 350px;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 50px rgba(0,0,0,.15);

    .header {
        height: 70px;
        background-color: #8e3bff;
        color: #fff;
        padding: 20px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }

    .info-container {
        min-height: 320px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;

        .alumno {
            display: flex;
            padding: 4px 15px;
            font-weight: 400;
            font-weight: bold;
            align-items: center;
            
            i {
                margin-left: auto;
            }
        }
        
        .button-container {
            padding: 15px;
            margin-top: auto;
            
            .anotarse {
                width: 100%;
                height: 35px;
                color: #fff;
                font-size: 18px;
                font-weight: bold;
                border: none;
                border-radius: 20px;
                background-color: #8e3bff;
                transition: all 0.5s ease;
            
                &:hover {
                    color: #8e3bff;
                    background-color: #FFF;
                    border: solid 1px #8e3bff;
                }
            }
        }
    }
}