<div class="class-container">
  <div class="header">
    <span>{{ clase.horario }}</span>
    <span> {{ clase.tipo }}</span>
  </div>
  <div class="info-container">
    <div *ngFor="let alumno of clase.alumnos" class="alumno">
      <div>{{ alumno.nombre }}</div>
      <i class="bi bi-trash-fill" (click)="desanotarme(alumno)"></i>
    </div>
    <div class="button-container">
      <button class="anotarse" (click)="anotarse()">Anotarse</button>
    </div>
  </div>
</div>