body {
    background-color: #000 !important;
    margin: 0px !important;
    padding: 40px !important;
    text-align: -webkit-center !important;
    text-align: -moz-center !important;
    font-family: "quickSand" !important;
}

i {
    cursor: pointer;
}

* {
    &:focus {
        box-shadow: none !important;
    }
}